<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#7d7c7d'
    },
    tweets: {
      background: '#ffffff',
      color: '#7d7c7d',
      links: '#5395e6'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: false,
    behavior: 'default'
  }
}).render().setUser('openideal').start();
</script>